@using TraverTripProject.Models.Class
@model List<Command>
@{
    ViewBag.Title = "CommendList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Commend List</h2>

<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>UserName</th>
        <th>Email</th>
        <th>Command</th>
        <th>Blog Name</th>
        <th>Delete</th>
        <th>Update</th>
    </tr>
    @foreach (var command in Model)
    {
<tr>
    <td>@command.ID</td>
    <td>@command.UserName</td>
    <td>@command.Email</td>
    <td>@command.Commands</td>
    <td>@command.Blog.Title</td>
    <td><a href="/Admin/CommandDelete/@command.ID" class="btn btn-danger">Delete</a></td>
    <td><a href="/Admin/CommandBring/@command.ID" class="btn btn-warning">Update</a></td>

</tr>
    }

</table>